<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Página No Encontrada</title>
    
    <link rel="stylesheet" href="{{ "/static/css/404.css" }}">
</head>
<body>
    <div class="container">
        <div class="error-code">404</div>
        <h1>Ruta no encontrada</h1>
        <p>Lo sentimos, la página que estás buscando no existe, ha sido eliminada o cambió de dirección.</p>
        <a href="/" class="btn">Volver al Inicio</a>
    </div>
</body>
</html>
