<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>405 - Método No Permitido</title>
    
    <link rel="stylesheet" href="{{ "/static/css/405.css" }}">
</head>
<body>
    <div class="container">
        <div class="error-code">405</div>
        <h1>Acción no permitida</h1>
        <p>El método solicitado no está permitido para esta dirección. Asegúrate de enviar la petición de forma correcta.</p>
        <a href="/" class="btn">Ir al Panel de Control</a>
    </div>
</body>
</html>
